body {
    background-image: url(../assets/background1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h3 {
    font-family: 'Dancing Script', cursive;
    color: #f5b045;
    font-size: 30px;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: #e25414;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.nav {
    border: 4px 4px rgb(233, 228, 228);
    box-shadow: 5px 5px 14px rgba(50, 112, 226, 0.61);
    position: relative;
}

h1 {
    font-size: 65px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 7px rgb(171, 224, 171);
    font-family: 'Dancing Script', cursive;
    ;
}

h2 {
    font-size: 50px;
    font-family: 'Rock salt', cursive;
    color: white;
    text-shadow: 4px 4px 7px rgb(171, 224, 171);
    text-align: center;
}

.header {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
}

#about {
    background-color: rgb(4, 36, 33);
    margin-top: 3%;
    text-align: center;
    color: white;
    padding: 3rem;
}


/* .row.description {
    margin-right: 3rem;
    border-right: 3px dotted white;
} */

span {
    font-family: 'Rock salt', cursive;
    font-weight: bolder;
    color: #cb4154;
}